# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte III - Avaliação </span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">sales1000.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">sales1000.csv</font> possui informações relativas à venda de produtos. As colunas abaixo são de particular importância para solução dos exercícios:
- *Country*: país da venda
- *Item Type*: tipo do produto vendido no país
- *Units Sold*: quantidade vendida
- *Unit Price*: preço de venda
- *Unit Cost*: preço de custo
- *Total Profit*: lucro total

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('sales1000.csv')

### Exercício 1)
Agrupe os elementos da base de dados armazenada no arquivo <font style="font-family: monaco">sales1000.csv</font> de acordo com os países.
Quantos produtos diferentes o país 'Japan' vende?

a) 8<br>
b) 7<br>
c) 6<br>
d) 5

In [23]:
df[df['Country']=='Japan']['Item Type'].value_counts()

Cosmetics        3
Beverages        1
Cereal           1
Personal Care    1
Meat             1
Baby Food        1
Name: Item Type, dtype: int64

In [24]:
df1=df.groupby('Country')
df1.get_group('Japan')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
3,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
168,Asia,Japan,Beverages,Online,H,10/18/2012,981086671,11/21/2012,4203,47.45,31.79,199432.35,133613.37,65818.98
342,Asia,Japan,Baby Food,Offline,L,3/16/2016,823699796,4/19/2016,9929,255.28,159.42,2534675.12,1582881.18,951793.94
398,Asia,Japan,Cosmetics,Offline,C,8/16/2013,629925000,8/18/2013,7661,437.20,263.33,3349389.20,2017371.13,1332018.07
536,Asia,Japan,Cosmetics,Offline,H,11/20/2016,107172334,12/23/2016,3530,437.20,263.33,1543316.00,929554.90,613761.10
555,Asia,Japan,Personal Care,Offline,M,8/25/2011,885129249,9/3/2011,8269,81.73,56.67,675825.37,468604.23,207221.14
627,Asia,Japan,Meat,Offline,M,7/2/2010,551725089,8/10/2010,6569,421.89,364.69,2771395.41,2395648.61,375746.80
901,Asia,Japan,Cosmetics,Online,L,1/6/2016,453569972,2/19/2016,289,437.20,263.33,126350.80,76102.37,50248.43

### Exercício 2)
Considerando todas as vendas de um país, qual o país com o menor lucro total?

a) Cameroon<br>
b) Japan<br>
c) Australia<br>
d) Cuba

In [46]:
lucro=df.groupby('Country')['Total Profit'].sum().sort_values()
lucro[0:1]

Country
Cameroon    34407.36
Name: Total Profit, dtype: float64

### Exercício 3)
Quais países vendem mais que sete produtos distintos? 

a) Cuba e Belarus<br>
b) Cuba<br>
c) Cuba e Australia<br>
d) Romania e Angola

In [56]:
df.groupby('Country')['Item Type'].nunique()>7

pandas.core.series.Series

In [66]:
df[df['Country']=='Romania']['Item Type'].nunique()

7

In [54]:
df.groupby('Country').filter(lambda x: x['Item Type'].nunique()>7)['Country'].unique()

array(['Belarus', 'Cuba'], dtype=object)

### Exercício 4)
Qual o país com a maior diferença entre a maior quantidade e a menor quantidade de produtos vendidos? Por exemplo, 'Tonga' vende os seguintes quantidades de produtos:
```python
Household  8635
Beverages  9367
Meat       9633
Fruits     7124
Meat       3499
```
Portando, a diferença entre a maior e a menor quantidade de produtos vendidos é $$9633-3499=6134$$ Qual o país com a maior diferença?

a) Tonga<br>
b) Cape Verde<br>
c) Romania<br>
d) Cuba

In [77]:
df.groupby('Country')['Units Sold'].apply(lambda x: x.max()-x.min()).sort_values(ascending=False)[:1]

Country
Cape Verde    9775
Name: Units Sold, dtype: int64

### Exercício 5)
O lucro de um produto é a diferença entre o preço de venda e o de custo. Qual o produto que fornece o menor lucro médio?

a) Baby Food<br>
b) Fruits<br>
c) Household<br>
d) Cosmetics

In [80]:
df.groupby('Item Type').apply(lambda x: (x['Unit Price']-x['Unit Cost']).mean() ).sort_values()

Item Type
Fruits               2.41
Beverages           15.66
Personal Care       25.06
Snacks              55.14
Meat                57.20
Vegetables          63.13
Clothes             73.44
Cereal              88.59
Baby Food           95.86
Office Supplies    126.25
Household          165.73
Cosmetics          173.87
dtype: float64