# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte I - Exercícios</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

#### <font color="red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</font>

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">WorldCups.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- **Year**: ano da copa
- **Country**: país sede
- **Winner**: campeão
- **RunnersUp**: disputou a final com o campeão
- **Third**: terceiro colocado
- **Fourth**: quarto colocado
- **GoalsScored**: número de gols na copa
- **QualifiedTeams**: número de times que disputaram a copa
- **MatchesPlayed**: número de jogos
- **Attendance**: número de espectadores (público)

In [1]:
import numpy as np
import pandas as pd

### Exercício 1) 
Utilizando o <font color='blue'>pandas</font>, leia o arquivo <font style="font-family: monaco">WorldCups.csv</font>, definindo a coluna 'Year' como índice das linhas, e armazene-o em uma variável tipo DataFrame. 
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame

In [2]:
# SOLUÇÃO
df=pd.read_csv('WorldCups.csv',index_col='Year')
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [3]:
# tipo de dado de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1930 to 2014
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         20 non-null     object
 1   Winner          20 non-null     object
 2   RunnersUp       20 non-null     object
 3   Third           20 non-null     object
 4   Fourth          20 non-null     object
 5   GoalsScored     20 non-null     int64
 6   QualifiedTeams  20 non-null     int64
 7   MatchesPlayed   20 non-null     int64
 8   Attendance      20 non-null     int64
dtypes: int64(4), object(5)
memory usage: 1.6+ KB

In [4]:
# numero de linhas
df.shape[0]

20

### Exercício 2) 
Remova as colunas 'QualifiedTeams' e 'MatchesPlayed' do DataFrame.

In [15]:
# SOLUÇÃO
df.drop(['QualifiedTeams','MatchesPlayed'],axis=1,inplace=True)

### Exercício 3) 
Exiba os países sede da copa entre os anos 1954 e 1982 (inclusive)

In [25]:
# SOLUÇÃO
df.loc[1954:1983,'Country']

Year
1954    Switzerland
1958         Sweden
1962          Chile
1966        England
1970         Mexico
1974        Germany
1978      Argentina
1982          Spain
Name: Country, dtype: object

### Exercício 4) 
Encontre e imprima:
- os anos em que o Brasil ganhou a copa 
- os anos em que o Brasil jogou uma final (a final é dada pelas colunas 'Winner' e 'RunnersUp') 
- a proporção de vitórias do Brasil em finais

In [31]:
# SOLUÇÃO
ganhou=df.query('Winner=="Brazil"')
ganhou

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1958,Sweden,Brazil,Sweden,France,Germany FR,126,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,893172
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,1603975
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,3587538
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,2705197

In [34]:
participou=df[(df['Winner']=='Brazil') | (df['RunnersUp']=='Brazil')]

In [38]:
ganhou.shape[0]

5

In [39]:
print('proporção de vitorias:\n',ganhou.shape[0]/participou.shape[0])

proporção de vitorias:
 0.7142857142857143

### Exercício 5) 
Quais foram as 5 copas com mais gols? 

__Dica:__ Ordene o DataFrame

In [46]:
# SOLUÇÃO
df['GoalsScored'].sort_values(ascending=False).head().to_frame()

      GoalsScored
Year
2014          171
1998          171
2002          161
2006          147
1982          146

In [49]:
df.sort_values('GoalsScored',ascending=False).head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,3386810
1998,France,France,Brazil,Croatia,Netherlands,171,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,2705197
2006,Germany,Italy,France,Germany,Portugal,147,3359439
1982,Spain,Italy,Germany FR,Poland,France,146,2109723

### Exercício 6) 
Utilize o método <font color='blue'>value_counts</font> para encontrar o número de vezes que cada país ganhou a copa.

In [52]:
# SOLUÇÃO
df['Winner'].value_counts()

Brazil        5
Italy         4
Germany FR    3
Argentina     2
Uruguay       2
Germany       1
Spain         1
France        1
England       1
Name: Winner, dtype: int64

### Exercício 7)
Quais foram as 5 copas com maior público? Imprima apenas o ano, o país e o público.

In [61]:
# solucao
df.sort_values('Attendance',ascending=False)[['Country','Attendance']]

           Country  Attendance
Year
1994           USA     3587538
2014        Brazil     3386810
2006       Germany     3359439
2010  South Africa     3178856
1998        France     2785100
2002   Korea/Japan     2705197
1990         Italy     2516215
1986        Mexico     2394031
1982         Spain     2109723
1974       Germany     1865753
1970        Mexico     1603975
1966       England     1563135
1978     Argentina     1545791
1950        Brazil     1045246
1962         Chile      893172
1958        Sweden      819810
1954   Switzerland      768607
1930       Uruguay      590549
1938        France      375700
1934         Italy      363000

### Exercício 8)
Construa um dicionário onde as chaves são os países que já participaram de uma final e os valores são o número de vezes que o país participou da final.

In [11]:
# SOLUÇÃO

### Exercício 9) 
Construa um dicionário com todos os países que já participaram de uma semi-final de copa (os quatro finalistas), onde a chave é o país e o valor corresponde ao número de vezes que o país foi um semi-finalista.

In [12]:
# SOLUÇÃO