#PREENCHA SEU NOME COMPLETO AQUI: 

### <span style="color:blue">MBA em Ciência de Dados</span>

<span style="color:blue">Programação para Ciência de Dados</br>
<span style="color:blue">Técnicas Avançadas de Captura e Tratamento de Dados

### <span style="color:blue">Prova Final</span>

**Material Produzido por:**<br>
>**Prof Moacir A. Ponti**<br>
>**Prof Luis Gustavo Nonato**<br> 

**CEMEAI - ICMC/USP São Carlos**

---

O arquivo `Emendas.csv` contém informações das emendas parlamentares do congresso nacional. Execute as seguintes operações sobre essa base de dados:

1. **Leia o arquivo e considere apenas as colunas** 'Nome Funcao', 'Valor Empenhado', 'Valor Pago' e 'Valor Restos A Pagar Pagos'. 1

2. Verifique e anote **quantos dados faltantes totais** existem no DataFrame resultante.

3. Substitua os valores faltantes:
    1. na coluna 'Valor Empenhado' pela média dos valores atuais nessa coluna,
    2. por zero no restante do data frame.
    
4. Compute e anote a **soma total da coluna 'Valor Empenhado'** em milhares de reais (i.e. dividindo o valor por 1000) considerando os valores após o preenchimento de dados faltantes do passo anterior.

5. Considerando a coluna 'Nome Funcao' como sendo categorias de emendas, compute a frequência da categoria majoritária, isto é, a categoria com maior número de ocorrências e a **porcentagem dessa categoria majoritária** com relação às demais categorias na base completa.
    
    
**INSTRUÇÕES (Importante)**:<br>
1. Você deve exportar esse notebook **com sua solução para as questões da prova** em formato .py e fazer upload no Moodle. 
   
    * Atenção: você *não* deve fazer upload de um arquivo notebook (.ipynb), mas sim um arquivo **texto .py** contendo os códigos python que utilizou para resolver as questões. O arquivo .py pode ser gerado através de uma das opções abaixo:<br>
        * no Jupyter Notebook/local: `File --> Download as --> Python (.py)` 
        * no Google Colab: `File --> Download .py` 
        * caso não esteja utilizando o Jupyter nem Colab, copie e cole seu código em um arquivo ASCII (Texto) salvando com a extensão .py

2. O arquivo deve ser nomeado com seu nome e sobrenome, sem espaços e sem acentuacao. Exemplo: moacirponti.py

3. É OBRIGATÓRIO conter no cabeçalho (início) do arquivo um comentário / texto com o seu nome completo


**Desejamos uma boa prova!**

Com base nos itens acima, assinale a alternativa correta

a) Dados faltantes: 5, Total Valor Empenhado: 114025453, Porcentagem Majoritária: 43%<br>
b) Dados faltantes: 9, Total Valor Empenhado: 204004899, Porcentagem Majoritária: 57% <br>
c) Dados faltantes: 14, Total Valor Empenhado: 104025454, Porcentagem Majoritária: 43%<br>
d) Dados faltantes: 14, Total Valor Empenhado: 2283864, Porcentagem Majoritária: 43% <br>
e) Dados faltantes: 5, Total Valor Empenhado: 104004899, Porcentagem Majoritária: 57%

In [2]:
import pandas as pd
import numpy as np

In [25]:
# carregar a base de dados
data = pd.read_csv('Emendas.csv')

In [26]:
data.columns

Index(['Codigo da Emenda', 'Ano da Emenda', 'Codigo do Autor da Emenda',
       'Nome do Autor da Emenda', 'Numero da emenda', 'Codigo IBGE Municipio',
       'Nome Municipio', 'Codigo IBGE Estado', 'Nome Estado', 'Codigo Regiao',
       'Nome Regiao', 'Codigo Funcao', 'Nome Funcao', 'Codigo Subfuncao',
       'Nome Subfuncao', 'Valor Empenhado', 'Valor Liquidado', 'Valor Pago',
       'Valor Restos A Pagar Inscritos', 'Valor Restos A Pagar Cancelados',
       'Valor Restos A Pagar Pagos'],
      dtype='object')

In [27]:
df=data[['Nome Funcao','Valor Empenhado','Valor Pago','Valor Restos A Pagar Pagos']]

In [33]:
df

,Nome Funcao,Valor Empenhado,Valor Pago,Valor Restos A Pagar Pagos
0,Saude,789725.0,0.0,789725.00
1,Urbanismo,1400000.0,0.0,916156.64
2,Urbanismo,1400000.0,0.0,1400000.00
3,Saude,500000.0,0.0,500000.00
4,Saude,231800.0,0.0,231800.00
...,...,...,...,...
45543,Assistencia social,400000.0,400000.0,0.00
45544,Saude,294485.0,0.0,0.00
45545,Desporto e lazer,300000.0,0.0,0.00
45546,Saude,199962.0,199962.0,0.00
45547,Saude,119985.0,119985.0,0.00

In [29]:
df.isnull().sum()

Nome Funcao                   0
Valor Empenhado               9
Valor Pago                    0
Valor Restos A Pagar Pagos    5
dtype: int64

In [30]:
# computar valores faltantes na base de dados
print('total dados faltantes: {}'.format(df.isnull().sum().sum()))

total dados faltantes: 14

In [37]:
# preencher os valores faltantes conforme instrucoes
media = df['Valor Empenhado'].mean()
df['Valor Empenhado']=df['Valor Empenhado'].fillna(media)
df.fillna(0,inplace=True)

<ipython-input-37-4fb9b3413e99>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Valor Empenhado']=df['Valor Empenhado'].fillna(media)
C:\Users\nasse\anaconda3\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [38]:
df.isnull().sum()

Nome Funcao                   0
Valor Empenhado               0
Valor Pago                    0
Valor Restos A Pagar Pagos    0
dtype: int64

In [43]:
# computar soma dos valores empenhados
print('soma total da coluna Valor Empenhado {} mi'.format(df['Valor Empenhado'].sum()/1000))

soma total da coluna Valor Empenhado 104025453.78610356 mi

In [57]:
# computar porcentagem da categoria (Nome Funcao) majoritária
(df['Nome Funcao'].value_counts(normalize=True).to_frame('Porcentagem').sort_values('Porcentagem',ascending=False)*100).head(1)

       Porcentagem
Saude    43.330113